/* ========== CSS Reset ========== */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #4d5156;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #1a0dab;
}

body,
input,
button {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

/* ========== Header ========== */

#main-header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 26px 0 0 0;
}

#mobile-wrapper {
  margin: 5px 36px 5px 30px;
}

#burger-menu {
  cursor: pointer;
  display: none;
  margin-right: 8px;
  padding: 4px;
  width: 40px;
  height: 40px;
}

#g-logo img {
  margin: 0;
  padding: 0;
  width: 92px;
}

#login-icon {
  display: none;
  text-decoration: none;
}

#search-form {
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  max-width: 692px;
  width: 100%;
}

#search-container {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 24px;
  box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16);
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 692px;
  height: 46px;
  padding: 5px 8px;
  position: relative;
}

#search-container svg {
  cursor: pointer;
  margin: 0 8px;
}

#m-search-icon {
  display: none;
}

#search-field {
  background: transparent;
  border: none;
  font-size: 16px;
  padding-left: 15px;
  width: 100%;
  height: 100%;
  outline: none;
}

#search-container:hover,
#search-container:focus {
  background-color: #fff;
  box-shadow: 0 2px 8px 1px rgba(64, 60, 67, 0.24);
  border-color: rgba(223, 225, 229, 0);
}

.search-hr {
  border-left: 1px solid #dfe1e5;
  margin: 0 5px;
  height: 85%;
}

#top-apps {
  display: flex;
  align-items: center;
  height: 46px;
  margin: 0 22px 0 auto;
}

#apps-icon {
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  padding: 8px;
  width: 40px;
  height: 40px;
}

#apps-icon:hover {
  background-color: rgba(60, 64, 67, 0.08);
}

#apps-icon svg {
  width: 24px;
  height: 24px;
}

#login-btn {
  background: #1a73e8;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  margin: 0 8px;
  min-width: 96px;
  padding: 9px 23px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}

#login-btn:hover {
  background: #2b7de9;
  box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3),
    0 1px 3px 1px rgba(66, 133, 244, 0.15);
}

#header-nav {
  border-bottom: 1px solid #ebebeb;
  display: block;
  flex-shrink: 0;
  width: 100%;
}

#nav-container {
  display: flex;
  margin-left: 150px;
  padding: 0 20px;
  max-width: 692px;
}

#results-nav ul li.mobile {
  display: none;
}

#results-nav ul li.m-tools {
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  padding-left: 24px;
}

#results-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

#results-nav ul li a {
  display: inline-block;
  color: #5f6368;
  margin: 17px 12px 0 10px;
  padding: 11px 0;
  line-height: 16px;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
}

#results-nav ul li a.active {
  border-bottom: 3px solid #1a73e8;
  color: #1a73e8;
}

#results-nav ul li a span {
  display: inline-block;
  margin-right: 5px;
  height: 16px;
  width: 16px;
  vertical-align: middle;
}

#results-nav ul li a span svg {
  height: 16px;
  width: 16px;
}

#nav-tools {
  display: flex;
  align-items: center;
  margin: 20px 0 7px auto;
}

#nav-tools span {
  display: inline-block;
  color: #5f6368;
  cursor: pointer;
  padding: 4px 11px;
  line-height: 16px;
  text-decoration: none;
  vertical-align: middle;
}

#nav-tools .tools-btn {
  border: 1px solid transparent;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  padding: 4px 11px;
  margin-right: -11px;
}

#nav-tools .tools-btn:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  background-image: -webkit-linear-gradient(top, #f8f9fa, #f8f9fa);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f8f9fa),
    to(#f8f9fa)
  );
  border: 1px solid #dadce0;
  color: #202124;
}

/* ========== Main Content ========== */

#content-container {
  background: #fff;
  padding-left: 169px;
}
#result-stats {
  color: #70757a;
  padding-left: 10px;
}

/* Results */

#search-results {
  padding: 0 10px 40px 10px;
  position: relative;
  max-width: 652px;
}

#result-stats {
  line-height: 43px;
  margin-bottom: 6px;
}

.result {
  font-size: 14px;
  margin-bottom: 44px;
  width: 600px;
}

.result a {
  color: #1a0dab;
  text-decoration: none;
}

.result a:hover {
  text-decoration: underline;
}

.result a {
  color: #551a8b;
}

.r-title {
  display: inline-block;
  margin-bottom: 6px;
}

.r-title cite {
  color: #202124;
  display: inline-block;
  font-style: normal;
}

.r-title cite div.no-mobile {
  display: inline;
}

.r-title cite img {
  display: none;
}

.r-title cite span {
  color: #5f6368;
  display: inline-block;
  font-style: normal;
}

.r-title h2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 3px;
  padding-top: 5px;
}

.r-descr {
  line-height: 1.58;
}

.r-descr a {
  color: #5f6368;
}

.r-sublinks {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-left: 10px;
  list-style: none;
}

.r-sublinks li {
  padding: 12px 6px 4px 6px;
  max-width: 240px;
}

.r-sublinks li a h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 3px;
  padding-top: 5px;
}

.r-sublinks li span {
  line-height: 1.58;
}

.r-more-link {
  white-space: nowrap;
}

/* Questions */

#questions {
  margin-bottom: 44px;
}

#q-title {
  color: #202124;
  display: inline-block;
  font-size: 22px;
  padding: 0 0 8px 0;
  line-height: 28px;
  font-weight: normal;
  margin: 0;
}

.question {
  border-top: 1px solid #ecedef;
  cursor: pointer;
  display: block;
  font-size: 16px;
  padding: 9px 0;
  position: relative;
  line-height: 1.58;
}

.question span {
  color: #202124;
}

.question i {
  pointer-events: none;
  position: absolute;
  right: 0;
  color: #70757a;
  top: 50%;
  margin-top: -12px;
}

#q-feedback {
  display: flex;
  align-items: center;
  width: 100%;
}

#q-feedback a {
  color: #70757a;
  font-size: 12px;
  margin: 0;
  padding-left: 14px;
  text-decoration: none;
}

#q-feedback a:hover {
  text-decoration: underline;
}

.h-line {
  background: #dadce0;
  height: 1px;
  width: 100%;
}

/* Videos */

#videos {
  margin-bottom: 44px;
}

#v-title {
  color: #202124;
  display: inline-block;
  font-size: 22px;
  padding: 0 0 8px 0;
  line-height: 24px;
  font-weight: normal;
  margin: 0;
}

#v-title i {
  color: #70757a;
  display: inline-block;
  margin-right: 12px;
  vertical-align: middle;
}

.video {
  border-top: 1px solid #ecedef;
  display: block;
  padding-bottom: 12px;
  padding-top: 12px;
  position: relative;
  text-decoration: none;
}

.video .v-main {
  display: flex;
}

.video .v-thumb {
  border-radius: 4px;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
  width: 124px;
  height: 70px;
  vertical-align: middle;
}

.video .v-thumb img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.video .v-thumb .time {
  border-radius: 8px;
  line-height: 14px;
  font-size: 12px;
  position: absolute;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.54);
  padding: 1px 8px;
  left: 8px;
  bottom: 6px;
  z-index: 2;
}

.video .v-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 20px;
}

.video .v-info h3 {
  font-size: 16px;
  font-weight: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  margin-bottom: 4px;
  flex-grow: 1;
  -webkit-line-clamp: 2;
  height: auto;
  line-height: 18px;
}

.video:hover .v-info h3 {
  text-decoration: underline;
}

.video .v-info .v-details {
  color: #70757a;
  font-size: 14px;
  line-height: 22px;
}

.video .v-info .v-details span {
  color: #202124;
}

.video .v-bubble {
  background-color: #f0f6fd;
  border-radius: 8px;
  display: block;
  padding: 4px 0;
  margin: 16px 0 10px;
  position: relative;
}

.video .v-bubble:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #f0f6fd;
  position: absolute;
  left: 60px;
  top: -8px;
}

.video .v-bubble span {
  color: #3c4043;
  position: relative;
  line-height: 31px;
  font-size: 14px;
  padding-left: 16px;
}

.video .v-bubble i {
  color: #70757a;
  position: absolute;
  right: 22px;
  top: 50%;
  margin-top: -9px;
}

#videos-more {
  position: relative;
  text-align: center;
}

#videos-more .h-line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
}

#v-more {
  background: #fff;
  border: 1px solid #dadce0;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  width: 300px;
  margin: 0 auto;
  padding: 7px 11px;
  height: 36px;
  border-radius: 18px;
  text-align: center;
}

#v-more:hover {
  background: #fafafa;
}

#v-more i {
  left: 12px;
  margin-top: 0;
  position: absolute;
  height: 20px;
  width: 20px;
}

#v-more span {
  display: inline-block;
  max-width: 220px;
  white-space: nowrap;
}

#v-more i.mobile,
#v-more span.mobile {
  display: none;
}

/* Related Searches */

#related-searches {
  margin-bottom: 44px;
}

#rs-title {
  color: #202124;
  display: inline-block;
  font-size: 22px;
  padding: 0 0 14px 0;
  line-height: 24px;
  font-weight: normal;
  margin: 0;
}

#rs-list {
  display: flex;
  flex-flow: row wrap;
}

.re-list-col {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.rs-link {
  align-items: center;
  background-color: #f1f3f4;
  border-radius: 100px;
  box-sizing: border-box;
  display: flex;
  margin: 8px;
  max-height: none;
  min-height: 48px;
  padding: 0 17px;
  position: relative;
  text-decoration: none;
}

.rs-link i {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='rgba(0,0,0,.54)' d='M20.49 19l-5.73-5.73C15.53 12.2 16 10.91 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.41 0 2.7-.47 3.77-1.24L19 20.49 20.49 19zM5 9.5C5 7.01 7.01 5 9.5 5S14 7.01 14 9.5 11.99 14 9.5 14 5 11.99 5 9.5z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  border-radius: 4px;
  height: 20px;
  padding: 10px;
  width: 20px;
}

.rs-link span {
  -webkit-box-orient: vertical;
  color: #202124;
  display: -webkit-box;
  flex: 1;
  font-size: 16px;
  -webkit-line-clamp: 2;
  max-width: 227px;
  overflow-wrap: break-word;
  overflow: hidden;
  margin-left: 16px;
}

.rs-link:hover span {
  text-decoration: underline;
}

/* Pagination */

#pagination {
  margin: 0 16px;
}

#p-nav {
  border-collapse: collapse;
  text-align: left;
  margin: 30px auto 30px;
}

#p-nav-body {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

#p-nav-row {
  display: table-row;
  vertical-align: top;
}

.p-nav-cell {
  padding: 0;
  text-align: center;
}

.p-nav-cell a {
  display: block;
  color: #4285f4;
  font-weight: normal;
  text-decoration: none;
}

.p-nav-cell a:hover {
  text-decoration: underline;
}

.p-nav-img {
  display: block;
  overflow: hidden;
  height: 40px;
}

.l-cell-text {
  display: block;
  margin-left: 53px;
}

/* ========== Side Panel ========== */

#side-info {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 692px;
  padding: 0 8px 15px 0;
  width: 369px;
}

#side-panel {
  background: #fff;
  border: 1px solid #dfe1e5;
  border-radius: 8px;
  padding: 0 0 16px 0;
  width: 369px;
}

#sp-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 30px 0;
}

#sp-title {
  padding-left: 15px;
}

#sp-title h2 {
  color: #202124;
  font-size: 30px;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 6px;
  word-wrap: break-word;
}

#sp-title h2 span {
  color: #70757a;
  font-size: 14px;
  line-height: 1.58;
}

#sp-header i {
  cursor: pointer;
  margin-left: auto;
  padding: 8px 15px 8px 0;
}

#sp-header a img {
  margin: 16px;
}

#sp-link {
  border-top: 1px solid #dfe1e5;
  border-bottom: 1px solid #dfe1e5;
  display: block;
  padding: 8px 0;
  text-decoration: none;
  vertical-align: middle;
}

#sp-link:hover {
  text-decoration: underline;
}

#sp-link i {
  margin: 0 24px 0 15px;
  vertical-align: middle;
}

#sp-body {
  padding: 11px 15px 0 15px;
}

#sp-founded-row {
  text-align: left;
}

#sp-founded-row a {
  color: #222;
  font-weight: 600;
  text-decoration: none;
}

#sp-founded-row a:hover {
  text-decoration: underline;
}

#sp-discl-row {
  text-align: right;
}

#sp-discl-row a {
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  font-style: italic;
  text-decoration: none;
}

#sp-profiles {
  margin-top: 24px;
}

#sp-profiles h3 {
  color: #202124;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  margin-bottom: 10px;
}

#sp-profile-links {
  margin: 0 0 14px -8px;
}

#sp-profiles a {
  display: inline-block;
  padding: 0 8px 10px 8px;
  text-align: center;
  text-decoration: none;
}

#sp-profiles a:hover {
  text-decoration: underline;
}

#sp-profiles a img {
  border-radius: 4px 4px 4px 4px;
  display: block;
  margin: 0 20px 5px 20px;
  height: 32px;
  width: 32px;
  position: relative;
}

#sp-r-title {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

#sp-r-title a {
  color: #70757a;
  font-size: 14px;
  text-decoration: none;
}

#sp-r-title a:hover {
  text-decoration: underline;
}

#sp-r-title a h3 {
  color: #202124;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
}

#sp-r-body {
  display: flex;
  flex-flow: row nowrap;
  padding: 8px 0 0 0;
}

#sp-r-body a {
  display: inline-block;
  margin-right: 12px;
  text-decoration: none;
  width: 72px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#sp-r-body a.mobile,
#sp-r-body a#view-all {
  display: none;
}

#sp-r-body a:last-child {
  margin-right: 0;
}

#sp-r-body a:hover {
  text-decoration: underline;
}

#sp-r-body a .sp-img {
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5px;
  overflow: hidden;
  width: 72px;
  height: 72px;
  vertical-align: middle;
}

#sp-r-body a .sp-img img {
  background-color: transparent;
  display: block;
  width: 100%;
}

#side-footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-top: 6px;
}

#side-footer a {
  background: #fff;
  border: 1px solid #dadce0;
  border-radius: 18px;
  color: #3c4043;
  display: inline-block;
  font-size: 14px;
  line-height: 1.58;
  padding: 8px 16px;
  text-decoration: none;
  vertical-align: middle;
}

#side-footer a:hover {
  background: #f8f9fa;
}

#side-footer a i {
  margin-right: 5px;
  vertical-align: middle;
}

#sf-feedback {
  color: #70757a;
  cursor: pointer;
  font-size: 12px;
  padding-right: 16px;
  line-height: 1.34;
}

/* ========== Footer ========== */

footer {
  background: #f2f2f2;
  flex-shrink: 0;
  margin-top: auto;
}

#user-loc-mobile {
  display: none;
}

#user-location {
  border-bottom: 1px solid #dadce0;
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  padding: 15px 30px 15px 180px;
}

#user-location div.no-mobile {
  display: inline;
}

span.footer-hr {
  border-left: 1px solid #dfe1e5;
  margin: 0 10px;
  height: 100%;
}

span.loc-icon {
  background: #70757a;
  border-radius: 100%;
  display: inline-block;
  height: 10px;
  margin: 6px 4px 9px 0;
  vertical-align: middle;
  width: 10px;
}

span#location {
  color: #3c4043;
  font-weight: bold;
}

#user-location a {
  color: #70757a;
  text-decoration: none;
}

#user-location a:hover {
  color: #3c4043;
}

#footer-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 145px;
  padding: 0 20px;
  text-align: center;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-links a {
  color: #70757a;
  display: block;
  font-size: 14px;
  padding: 15px;
  text-decoration: none;
  white-space: nowrap;
}

.footer-links a.mobile {
  display: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-links a.author {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
}

.footer-links a.author span {
  display: block;
}

.footer-links a.author svg {
  display: inline;
  fill: #70757a;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  transition: .1s;
}

.footer-links a.author:hover svg {
  fill: #3c3d41;
}

.mobile {
  display: none;
}

/* ========== Media Queries ========== */

@media only screen and (max-width: 1260px) {
  .no-mobile {
    display: none !important;
  }

  #main-header {
    box-shadow: 0 0 0 1px #ebedef;
    display: block;
    padding: 0;
  }

  #mobile-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 12px;
    width: 100%;
  }

  #burger-menu {
    display: inline-block;
  }

  #login-icon {
    display: inline-block;
  }

  #search-form {
    padding: 0 12px;
    max-width: 100%;
  }

  #search-container {
    height: 44px;
    max-width: 100%;
  }

  #m-search-icon {
    display: inline-block;
  }

  #mic-icon,
  #search-icon {
    display: none;
  }

  .search-hr {
    display: none;
  }

  #header-nav {
    border-bottom: 1px solid #ebebeb;
  }

  #nav-container {
    margin-left: 0;
    padding: 8px 12px 0 12px;
    max-width: 100%;
    overflow: auto;
  }

  #results-nav ul li.mobile {
    display: block;
  }

  #results-nav ul li a {
    margin: 0;
    padding: 8px 12px;
    line-height: 27px;
  }

  #results-nav ul li a.active {
    border-bottom: 2px solid #202124;
    color: #202124;
    margin: 8px 12px;
    padding: 0;
  }

  #results-nav ul li a span {
    display: none;
  }

  #content-container {
    background: #f1f3f4;
    padding: 8px 0;
  }

  #search-results {
    padding: 0;
    max-width: 100%;
  }

  #result-stats {
    display: none;
  }

  .result,
  #questions,
  #side-panel,
  #videos,
  #related-searches {
    box-shadow: 0 0 0 1px #ebedef;
    background: #fff;
    margin: 0 0 8px 0;
    padding: 16px 16px 0 16px;
    width: 100%;
  }

  .result b {
    font-weight: normal;
  }

  .r-title cite {
    font-size: 12px;
    margin-bottom: 12px;
  }

  .r-title cite img {
    display: inline-block;
    margin-right: 12px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
  }

  .r-sublinks {
    display: block;
    margin: 0;
  }

  .r-title {
    margin-bottom: 0;
  }

  .r-descr {
    padding: 12px 0;
  }

  .r-sublinks li {
    border-top: 1px solid #dadce0;
    padding: 0;
    max-width: 100%;
  }

  .r-sublinks li a h3 {
    font-size: 18px;
    margin: 0;
    padding: 14px 0;
  }

  .r-sublinks li span {
    display: none;
  }

  #q-title {
    font-size: 20px;
  }

  .question {
    font-size: 14px;
    padding: 14px 0;
  }

  #q-feedback {
    display: block;
    text-align: right;
  }

  #q-feedback a {
    display: inline-block;
    padding: 8px 0;
  }

  #v-title {
    font-size: 20px;
  }

  .video .v-info .v-details {
    font-size: 12px;
    line-height: 16px;
  }

  .video .v-bubble {
    padding: 6px 12px;
  }

  .video .v-bubble span {
    line-height: 18px;
    font-size: 12px;
    padding: 0;
  }

  #videos a.video:first-of-type {
    border: none;
  }

  #videos-more {
    padding-bottom: 16px;
  }

  #v-more {
    background: #f1f3f4;
    border: none;
    color: #202124;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    height: 40px;
    border-radius: 18px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
  }

  #v-more i.mobile,
  #v-more span.mobile {
    display: inline-block;
  }

  #v-more i.mobile {
    left: 2px;
    position: relative;
    height: 24px;
    width: 24px;
    vertical-align: middle;
  }

  #videos-more .h-line {
    display: none;
  }

  #rs-title {
    font-size: 20px;
  }

  #rs-list {
    display: block;
  }

  .re-list-col {
    display: block;
  }

  .rs-link {
    border-top: 1px solid #dadce0;
    background-color: #fff;
    border-radius: 0;
    margin: 0;
    max-height: unset;
    min-height: auto;
    padding: 13px 0 13px 12px;
  }

  .rs-link:first-of-type {
    border: none;
  }

  .rs-link span {
    font-size: 14px;
    max-width: 100%;
    margin-left: 16px;
  }

  .rs-link span b {
    font-weight: normal;
  }

  #side-info {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  #side-panel {
    border: none;
    border-radius: 0;
    padding: 0;
    width: 100%;
  }

  #sp-header {
    padding: 16px;
  }

  #sp-title {
    padding-left: 0;
  }

  #sp-title h2 {
    font-size: 24px;
    margin-bottom: 6px;
  }

  #sp-header i.mobile {
    cursor: pointer;
    margin-left: auto;
    padding: 8px 15px 8px 0;
  }

  #sp-header i svg {
    width: 18px;
  }

  #sp-header a img {
    margin: 0;
  }

  #sp-link {
    color: rgba(0, 0, 0, 0.87);
  }

  #sp-founded-row a {
    font-weight: normal;
  }

  #sp-discl-row {
    border-bottom: 1px solid #dadce0;
    padding-bottom: 5px;
  }

  #sp-profiles a {
    color: rgba(0, 0, 0, 0.87);
    display: inline-flex;
    flex-direction: column;
    font-size: 12px;
  }

  .sp-link-img {
    border: 1px solid #dfe1e5;
    border-radius: 50%;
    margin: 10px auto 6px auto;
    padding: 11px;
    text-align: center;
  }

  #sp-profiles a img {
    border-radius: 0;
    margin: 0;
    padding: 0;
    height: 22px;
    width: 22px;
  }

  #sp-r-body {
    display: flex;
    flex-flow: row nowrap;
    padding: 16px;
    overflow: auto;
  }

  #sp-r-body a,
  #sp-r-body a.mobile {
    border-radius: 8px;
    box-shadow: 0 0 0 1px #dadce0;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 12px;
    text-decoration: none;
    width: 112px;
    height: 148px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  #sp-r-body a:last-child {
    margin-right: 0;
  }

  #sp-r-body a .sp-img {
    background-color: transparent;
    border-radius: 0;
    display: block;
    margin: auto 0 auto 0;
    width: 100%;
    height: auto;
  }

  #sp-r-body a .sp-img.top {
    margin: 0 0 auto 0;
  }

  #sp-r-body a .sp-img img {
    background-color: transparent;
    display: block;
    width: 100%;
  }

  #sp-r-body a span {
    color: #202124;
    padding-bottom: 8px;
  }

  #sp-r-body a#view-all {
    border-radius: 0;
    box-shadow: none;
    color: #1a73e8;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
  }

  #sp-r-body a#view-all i {
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #aecbfa;
    display: block;
    width: 60px;
    height: 60px;
  }

  #sp-r-body a#view-all i svg {
    fill: #1a73e8;
    margin: 16px;
    padding: 0;
    width: 24px;
    height: 24px;
  }

  #sp-r-body a#view-all span {
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    margin-top: 12px;
    text-align: center;
    word-wrap: break-word;
  }

  #p-mobile {
    background: #fff;
    border: 1px solid #dadce0;
    cursor: pointer;
    display: block;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    width: 100%;
    margin: 16px 0;
    padding: 7px 11px;
    height: 40px;
    border-radius: 18px;
    text-align: center;
    vertical-align: middle;
  }

  #p-mobile i {
    position: absolute;
    left: 12px;
  }

  #p-mobile i svg {
    width: 24px;
    height: 24px;
  }

  #user-loc-mobile {
    border-bottom: 1px solid #dadce0;
    color: rgba(0, 0, 0, 0.54);
    display: block;
    font-size: 16px;
    padding: 15px 30px;
    text-align: center;
  }

  #user-location {
    border: none;
    font-size: 14px;
    padding: 8px 0;
    text-align: center;
  }

  #footer-nav {
    display: block;
    margin: 0;
    padding: 0 20px 20px 20px;
  }

  .footer-links {
    display: block;
  }

  .footer-links a,
  .footer-links a.mobile {
    display: inline-block;
    padding: 7px 14px;
  }
}
